<% if search_output.present?  %>
<div class="max-w-lg w-full">
    <h3 class="font-semibold text-lg text-gray-700 tracking-wide inline-block">Search by:</h3>
      
        <span class="text-bold px-3 bg-gray-200 text-gray-800 rounded-full">
    <%= search_output %>
</span>
    <div class="border-t-2"></div>
</div>
<% end %>